<!-- Collapsible Navigation Bar -->
<div class="container-fluid">

<nav class="navbar navbar-default navbar-static-top" style="align-content: center;">
    <div class="container">

         <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" id="navbar-collapsed" style="background:#336699;color:#FFF;">
     
          <!-- Button that toggles the navbar on and off on small screens -->
          <button type="button" class="navbar-toggle collapsed" style="color:#FFF; text-align: center;" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
     
          <!-- Hides information from screen readers -->
            <span class="sr-only" style="background:#FFF;color:#FFF;" ></span>
     
            <!-- Draws 3 bars in navbar button when in small mode -->
            <span class="icon-bar" style="background:#FFF;color:#FFF;"></span>
            <span class="icon-bar" style="background:#FFF;color:#FFF;"></span>
            <span class="icon-bar" style="background:#FFF;color:#FFF;"></span>
          </button>
     
          <a class="pull-left" style="color:#FFF;" href="home.php">
              <img class="navbar-brand" style="height: 100px; margin-top: -20px; margin-bottom: -15px" src="img/logov2.png">
          </a>          
        </div>


        <div class="collapse navbar-collapse" id="navbar-collapse" style="background:#336699;color:#FFF;">
            <ul class="nav navbar-nav">
                <li>
                    <a style="color:#FFF; text-align:center;" href="tags.php">Tags</a>
                </li>
                <li>
                    <a style="color:#FFF; text-align:center;" href="gateways.php">Gateways</a>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" style="background:#336699;color:#FFF; text-align:center;" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact<span class="caret"></span></a>
                  <ul class="dropdown-menu" style="background:#336699;color:#FFF; margin-top:12px" >
                    <li><a style="background:#336699;color:#FFF; text-align:center;" href="#">oaurbanov@unal.edu.co </a></li>
                    <li><a style="background:#336699;color:#FFF; text-align:center;" href="#">+34 612 46 52 46 </a></li>
                  </ul>
                </li>
                <li>
                    <a style="color:#FFF; text-align:center;" href="about.php">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
                <li class="dropdown">
                    <a class="dropdown-toggle" style="background:#336699;color:#FFF; text-align:center;" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> User <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="background:#336699;color:#FFF; margin-top: 12px" >
                      <li><a style="background:#336699;color:#FFF; text-align:center;" href="php/closeSession.php">Log out </a></li>                      
                    </ul>
                </li>
            </ul>
        </div>


    </div>
</nav>

</div>